body {
	background:#fff;
	margin:0 auto;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #000;
	width:1250px;
}
.marquee
{
margin-left:-50px;

}
.info
{
	text-align:center;
	letter-spacing:2px;
}
.add
{
	width:20px;
	background-color:#CCC;
	padding:2px;
}
.add:hover
{
	background-color:#09C;
	border:none;
}
.ch
{
	border:none;
	color:#FFF;
	width:100%;

}

.mf
{
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
	
	width:100%;
	height:30px;
	text-align:center;
}
.Hotel
{
	background-color:#FFF;
	border:1px solid #999;
	color:#000;
	width:100%;
	height:30px;
	text-align:center;
}

.search
{
	margin-left:1000px;
	margin-top:15px;
}
.result
{
	height:20px;
	width:120px;
	margin-left:10px;
	margin-top:-12px;
	border-radius:5px;
	border:none;
	background-color:#FFF;
	font-size:12px;
	vertical-align:middle;
	text-align:center;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
}
.go
{
	background-image:url(imgs1/srch.png);
	background-color:#33CCFF;
	padding-top:10;
	border:hidden;	
	width:30px;	
}

.h_booking
{
	width:1178px;
	margin-left:80px;
	margin-top:35px;
	margin-bottom:30px;
	color:#FFF;
}
.h_booking input
{
	font-size:16px;
}
.print 
{
	
	background-color:#33CCFF;
	padding:2px 4px 2px 4px;
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.addpay_tab
{
	
	margin-left:450px;
	margin-top:30px;
	background-color:#d1e5fe;
	width:400px;
	height:auto;
	padding:10px 10px 20px 50px;
}
.insert a
{
	width:100%;
	padding:2px 4px 2px 4px;
	color:#000;
	text-decoration:none;
	font-size:15px;
	border: 1px solid rgba(0,0,0,0.5);
   background:#09C;
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	
}
.insert a:hover
{
	background-color:#FFF;
	text-decoration:none;
	color:#000;
}
.print1 a
{
	background-color:#00a1d2;
	padding:7px 20px 7px 20px;
	color:#000;
	position:absolute;
	margin-left:400px;
	margin-top:-30px;
	text-decoration:none;
	font-size:15px;
	border: 1px solid rgba(0,0,0,0.5);
   background:#09C;
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	
}

.print a:hover
{
	background-color:#FFF;
	text-decoration:none;
	color:#000;
}
body.homepage {
	background: #FFF url('images/body.png') repeat-x scroll top left;
}

body.noheader {
	background: #FFF url('images/body-noheader.png') repeat-x scroll top left;
}
.header
{
	background-color:#09C;
	height:30px;
	color:#FFF;
	text-align:center;
	font-size:18px;
	
}
.header td
{
	background:#09C;
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
}
* {
	margin:0;
	padding:0;
}

/** element defaults **/
code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
	font-size: 12px;
}

a {
	color: #F97B27;
}

a:hover {
	color: #E5620A;
}

a:focus {
	outline: none;
}

fieldset {
	display: block;
	border: none;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

form input.formbutton {
	color: #000;
	padding: 6px 8px;
	font-size: 14px;
	letter-spacing:2px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	background: #00a1d2;
	margin-left: 35px;
	border: none;
	width:135px;
	height:35px;
	overflow: visible;
	font-family: Lucida Grande;
	border: 1px solid rgba(0,0,0,0.5);
   background:#33CCFF;
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
       
    
}

fieldset form input.formbutton {
	margin-left: 150px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	background: none;
	border-bottom: none;
	text-transform: none;
	line-height: 1.0em;
	padding: 0 0 5px;
}

#body h1 {
	color: #D5570A;
}

h1 strong {
	font-weight: normal;
}

h2 {
	color: #000;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size: 30px;
	letter-spacing: -0.25px;
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;
}

#body h2 {
	font-weight: normal;
}

.to
{
	color:#FFF;
	width:310px;
	font-size:18px;
	margin-left:990px;
}
h3 {
	color: #555;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}

h4 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #EE7524;
}

h5 {
	padding-bottom: 10px;
	font-size: 13px;
	color: #999;
}

ul, ol {
	margin: -4px 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}

ul.styledlist {
	list-style: none;
	margin-left: 20px;

}

ul.styledlist li {
	background: #fff url('images/list-item.gif') no-repeat scroll left center;
	padding-left: 15px;
	padding-bottom: 0;
	margin-bottom: 5px;
}


#container {
	
	width: 960px;
	margin: 0 auto;
	padding: 0px;
}

#header {
	
	padding: 0px 15px;
	margin: 0 auto;
	height: 111px;
}

#header h1 {
	padding: 0; 
}
#header h1 a {
	
	color: #eee;
	padding-top: 40px;
	font-size: 40px;
	font-weight: normal;
	font-family: Lucida,"Lucida Sans",Geneva,Arial,sans-serif;
	text-decoration: none;
	letter-spacing: -3px;
	float: left;
	text-shadow: 1px 1px #111;
}

#header h1 a strong {
	color: #F87B27;
}

#header h2 {
	color: #999;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0;
	margin-left: 5px;
	margin-top: 50px;
	padding-bottom: 0;
	padding-left: 4px;
}



/* front page slider styles */
div#jFlowSlide {
	margin:0 auto;
}
div#slides-static {
	padding: 40px 55px 0;
	width: 850px;
}
div.slides-container {
	height: 271px;
	overflow: hidden; 
	width: 960px; 
	padding-top: 40px;
}
div.slides-container div#jFlowSlide {
	height: 315px;
}
div.slides-container div.jFlowSlideContainer img {
	margin:auto;
}
p.frontpage-button a {
	padding: 17px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow:-1px -1px #CE5709;
	background: #F87B27 url('images/frontpage-link.png') repeat-x scroll top left;
	border: 1px solid #000;
}
p.frontpage-button a:hover {
	background: #E5620A none;
	color: #fff;
}
.hidden { display:none;  }

div#sub-header {
	margin-top:8px;
	margin-bottom:5px;
	margin-left:-100px;
	width:1315px;
	height:1500px;
	background-color:#FFF;
	opacity:0.9;
	
}


div#sub-header h2 {
	padding-top: 27px;
}

#body {
	background:#000;
	margin:0 auto;
	padding: 20px 0 0;
	width: 960px;
}

#content {
	
	float: left;
	width: 635px;
}

.box { 
	margin: 0;
	padding: 0 5px;
	background-color: #fff;
}


.clear {
	clear: both;
}

#footer {
	margin:0 auto;
	padding: 30px 5px 0;
}

.footer-content {
	width: 960px;
	margin: 0 auto;
	display: block;
	padding-bottom: 30px;
}

#footer a {
	color: #999;
	text-decoration: underline;
}

#footer h4 {
	color: #ccc;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
}

#footer p {
	text-align: left;
	color: #999;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#footer form {
	margin: 0;
	padding: 0;
}

.footer-box {
	width: 220px;
	margin-right: 26px;
	float: left;
}

.end-footer-box {
	margin-right: 0;
}

#footer-links {
	background-color: #000;
	color: #ccc;
	padding: 5px;
}
div#footer-links p {
	text-align: right;
	padding: 0;
	margin: 0 auto;
	font-size: 10px;
	width: 960px;
	display: block;
}
#footer-links a {
	color: #eee;
	font-weight: bold;
	text-decoration: underline;
}
.quo
{
	margin-left:50px;
}
.button
{
	margin-top:10px;
	margin-left:850px;
}

.q_button
{
	margin-top:20px;
	margin-left:740px;
}
.quotation
{
	font-size:15px;
	color:#FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:500;
	letter-spacing:5px;
	background-color:#33CCFF;
	width:1100px;
	text-shadow: 0 1px 1px #333; 
	height:20px;
	margin-top:10px;
	margin-left:12px;
	padding:3px 0px 0px 0px;
   background:#33CCFF;
  
}
.quotationI
{
	font-size:22px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:500;
	letter-spacing:5px;
	background-color:;
	width:550px;
	height:30px;
	margin-left:100px;
	margin-top:2px;
	text-shadow:-1px -1px #CE5709;
	background: #F87B27 url('images/frontpage-link.png') repeat-x scroll top left;	
	padding:3px 0px 0px 0px;
	 background:#09C;
 
}
.quotationT
{
	font-size:20px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:400;
	letter-spacing:4px;
	background-color:#F87B27;
	width:90%;
	height:30px;
	margin-top:2px;
	text-shadow:-1px -1px #CE5709;
	background: #F87B27 url('images/frontpage-link.png') repeat-x scroll top left;	
	padding:3px 0px 0px 0px;
	 background:#09C;
   
}
.l_form
{
	font-size:12px;
	color:#000;
	border:none;
	margin-left:125px;
	margin-top:5px;
}

.q_in
{
	width:150px;
	height:25px;
	border:1px solid #999;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	margin-top: 5px;

}
.q_in1
{
	width:230px;
	height:35px;
	border:1px solid #999;
	background-color:#FFF;
	font-size:18px;
	color:#000

}
.q_info4
{
	margin-left:550px;	
	margin-top:-400px;
	height:400px;
}
.q_info5
{
	margin-left:550px;	
	margin-top:-300px;
	height:300px;
}
.s_in
{
	width:640px;
	height:35px;
	border:1px solid #999;
	background-color:#FFF;
	font-size:18px;
	color:#000

}
.s_i
{
	width:695px;
	height:35px;
	border:1px solid #999;
	background-color:#FFF;
	font-size:18px;
	color:#000

}
.s_s
{
	width:50px;
	height:35px;
	border:1px solid #999;
	background-color:#FFF;
	font-size:18px;
	color:#000

}
.i_in
{
	width:375px;
	height:35px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
;

}

.no
{
	margin-left:930px;
	background-color:#333;
	height:15px;
	color:#FFF;
	letter-spacing:2px;
	width:350px;
	padding:10px;
}
.serial
{
	width:60px;
	height:30px;
	background-color:#333;
	font-size:18px;
	color:#fff;
	border:none;

}
.adddel
{
	margin-left:15px;
	margin-top:-27px;
	position:absolute;
}
.adddels
{
	margin-left:220px;
	margin-top:-27px;
	position:absolute;
}
.adddels input
{
	background-color:#333;
	color:#FFF;
}
.adddelin
{
	margin-left:102px;
}

.name
{
	width:100%;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;

}
.dob
{
	width:100%;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;

}
.contact{
	width:100%;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}
.email
{
	width:100%;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}
.se
{
	width:365px;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}
.amt
{
	width:100%;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}
.from
{
	width:100%;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}
.pax
{
	width:125px;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}

.ci
{
	width:100%;
	height:30px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}


.h_in
{
	width:100px;
	height:35px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;

}
.heading
{
	background-color:#33CCFF;
	color:#FFF;
	height:15px;
	letter-spacing:1px;
	font-size:12px;

}
.head
{
	background-color:#33CCFF;
	color:#FFF;
	height:15px;
	letter-spacing:1px;
	font-size:12px;

}
.des
{
	width:1200px;
	margin-left:40px;
	
}

 
.q_info
{
	width:320px;
	height:250px;
	margin-left:255px;
	
}
.q_info2
{
	width:320px;
	height:250px;
	margin-left:680px;
	margin-top:-260px;
	
}
.q_add
{
	width:150px;
	height:50px;
	background-color:#FFF;
	font-size:12px;
	border:1px solid #999;
	color:#000;
}
.i_add
{
	width:375px;
	height:80px;
	background-color:#FFF;
	font-size:18px;
	border:1px solid #999;
	color:#000;
}

.q_term
{
	width:475px;
	height:200px;
	background-color:#FFF;
	font-size:18px;
	color:#000;
	border:1px solid #999;
}

.invoice_b
{
	margin-left:872px;
	margin-top:10px;
}
.service_b
{
	margin-left:925px;
	margin-top:10px;
}
.des_in
{
	width:100%;
	height:25px;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;

	
}
.des_sr
{
	height:25px;
    text-align:center;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;

}

.des_cap
{
	width:100%;
	height:25px;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;

}
.des_ser
{
	width:100%;
	height:25px;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;

}
.des_amt
{
	width:100%;
	height:25px;
	background-color:#333;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;

}
.des_r
{
	height:25px;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;
	
}
.des_r_pdf
{
	height:25px;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;
	 background-color: #d1e5fe;
	 width:120px;
}
.des_r_num
{
	height:25px;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;
	 background-color: #d1e5fe;
	 width:20px;

}
.des_r_numt
{
	height:25px;
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;
	 background-color: #d1e5fe;
	 width:40px;
}
.des_q
{
	background-color:#FFF;
	font-size:12px;
	color:#000;
	border:1px solid #999;

}
.amt_w
{
	margin-left:80px;
	
}
.des_w
{
	width:69%;
	height:125%;
	background-color:#333;
	opacity:0.5;
	font-size:12px;
	color:#FFF;
}
.emp_tab_res
{
	margin-top:5px;
	margin-left:12px;
	width:1235px;
	height:auto;
}

.emp_tab_res tr
{
	background-color:#999;
	height:20px;
}
.emp_tab_res td
{
	text-align:center;
	color:#000;
	font-size:12px;
	text-transform:uppercase;
}
.emp_tab
{
	margin-left:-29px;
	width:1200px;
	
	
}
.emp_tab_job
{
	margin-left:-80px;
	width:1700px;
	
	
}
.emp_tab1
{
	margin-top:5px;
	width:1200px;
	height:auto;
}
.emp_tab1 tr td
{
	text-align:left;
}
.f
{
	background-color:#999;
	height:25px;
	color:#000;
	
}
.n
{
	background-color:#F60;
	color:#000;
	font-weight:bold;
	border:1px solid #000;
	
}
.n:hover
{
	background-color:#F00;
}

.pagi td
{
	height:25px;
	color:#000;
	text-align:center;
	background-color:#000;
	font-size:12px;
	margin-left:12px;
	letter-spacing:1px;
	 background:#d1e5fe;
   
}
.pagit td
{
	height:25px;
	border:medium;	
	text-align:center;
/*	background-color:#000;*/
	font-size:12px;
	margin-left:12px;
	letter-spacing:1px;
	 
   
}
.emp_header input
{
	font-size:16px;
}
.tab1
{
	margin-top:40px;
	margin-left:200px;
	width:700px;
	color:#000;
	letter-spacing:1px;
	font-size:18px;
	height:400px;
	
}

.tab2
{
	margin-left:800px;
	width:400px;
	color:#000;
	letter-spacing:1px;
	font-size:18px;
	height:400px;
	margin-top:-400px;
}

.addemp_tab
{
	width:800px;
	height:400px;
	margin-top:20px;
	margin-left:300px;
}
.emp_sal
{
	
	width:400px;
	height:250px;
	border:medium;
	margin-top:20px;
	margin-left:450px;
	background-color:#d1e5fe;

}
.pay
{
	width:400px;
	height:450px;
	position:relative;
	top:0;
	color:#000;
	border-bottom:1px solid #CCC;
	margin-top:-15px;
	margin-left:880px;
}
.pay td
{
	padding-left:20px;
	color:#000;
	font-size:18px;
}
.detail
{
	width:860px;
	position:absolute;
	margin-top:-15px;
	margin-left:10px;
}
.no
{
	margin-left:500px;
}
.high
{
	background-color:#CCC;
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:5px;
	color:#333;
	font-weight:bold;
	height:35px;
}
.rs
{
	background-color:#FFF;
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:5px;
	color:#333;
	font-weight:bold;
	height:35px;
}
.reciept
{
	width:800px;
	height:520px;
	position:absolute;
	margin-top:10px;
	margin-left:10px;
	font-size:18px;
	border:2px solid #333;
	color:#000;
}
.viewreciept
{
	width:800px;
	height:520px;
	position:absolute;
	margin-top:30px;
	margin-left:250px;
	font-size:18px;
	color:#000;
	box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3), 
             0px 20px 15px 0px rgba(0, 0, 0, 0.6); 
}


.addemp_b
{
	margin-top:-10px;
	margin-left:525px;
}
.addamc_b
{
	margin-top:20px;
	margin-left:560px;
}
.addemp_button
{
	margin-top:20px;
	margin-left:500px;
}

.pay_button
{
	margin-top:20px;
	margin-left:1040px;
}
 /*  New code added here */
 .toptext
{
    height:75px;
	margin-top:8px;		
	margin-left:30px;
}
.request
{
	
	background-color:#d1e5fe;
	margin-left:650px;
	width:550;
	margin-top:10px;
	}
.material
{
	background-color:#d1e5fe;
	margin-left:110px;
	width:890;
	margin-top:30px;
	
	}
 .descg
{
	width:630px;
	display:block;
	background-color:#00a1d2;
	font-size:20px;
	color:#600;
	text-align:center;
	margin-left:260px;
		
	 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
	
	}
	
.midtext
{
    height:50px;
	margin-top:-110px;		
	margin-left:15px;
}
.midtext1
{
    height:50px;
	margin-top:10px;		
	margin-left:15px;
}
 .desc
{
	width:610px;
	display:block;
	background-color:#00a1d2;
	font-size:20px;
	color:#600;
	text-align:center;
	margin-left:-20px;
	
	
	 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
	
	}
	

.desc1
{
	width:590px;
	display:block;
	background-color:#00a1d2;
	font-size:20px;
	color:#600;
	text-align:center;
	margin-left:624px;
	margin-top:-183px;
	 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
	}
	.desc2
{
	width:600px;
	display:block;
	background-color:#00a1d2;
	font-size:20px;
	color:#600;
	text-align:center;
	margin-left:624px;
	margin-top:-83px;
	 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
	}
	
	.desc3
{
	width:610px;
	display:block;
	background-color:#00a1d2;
	font-size:20px;
	color:#600;
	text-align:center;
	margin-left:-20px;
	margin-top:-250px;
	
	
	 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
	
	}
.q_info3
{
	margin-top:15px;
	width:550px;
	height:330px;
	margin-left:28px;
	background-color:#d1e5fe;
	padding:10 10 10 20;
	
}
.q_info4
{
	margin-top:-330px;
    width: 550px;
    height: 330px;
    margin-left: 550px;
	background-color:#d1e5fe;
	padding:10 10 10 20;
	}

.q_clients
{
	margin-top:50px;
	width:400px;
	height:500px;
	margin-left:100px;
	background-color:#d1e5fe;
}
.q_clients2
{
	margin-top:-500px;
	width:400px;
	height:500px;
	margin-left:500px;
	background-color:#d1e5fe;

}
.w_clients2
{
	 
	width: 550px;
	height: 180px;
	margin-left: 23px;
	margin-top:20px;
	background-color:#d1e5fe;
	padding:10 10 10 20;
}

.q_clients1
{
	margin-top:-275px;
    width: 550px;
    height: 380px;
    margin-left: 640px;
	background-color:#d1e5fe;
	padding:10 10 10 20;
}
.q_client_s
{
	margin-top:15px;
	width:550px;
	height:230px;
	margin-left:28px;
	background-color:#d1e5fe;
	padding:10 10 10 20;
}
.q_clients_2
{
	margin-top:10px;
	width:450px;
	height:150px;
	margin-left:70px;
	background-color:#d1e5fe;
}
.q_clients4
{
	 
	width:550px;
	 height:300px;
	margin-left:650px;
	margin-top:-180px;
	background-color:#d1e5fe;
}


.q_clients_u
{
	margin-top:10px;
	width:550px;
	height:150px;
	margin-left:650px;
	margin-top:-310px;
	background-color:#d1e5fe;
}
.q_clients_w
{
	margin-top:-90px;
	width: 550px;
	height: 140px;
	margin-left:28px;
	background-color:#d1e5fe;
	padding:10 10 10 20;
}
.q_clients3
{
	margin-top: -225px;
	width: 550px;
	height: 288px;
	margin-left: 640px;
	background-color:#d1e5fe;
}

select
{
	width:186px;
}
/* finish new code addition*/


.addclients_b
{
	margin-top:30px;
	margin-left:400px;
	
}
.booking
{
	margin-top:30px;
	margin-left:898px;
	
}
.update
{
	margin-top:30px;
	margin-left:750px;
	
}

.add_h
{
	margin-top:30px;
	margin-left:745px;
	
}

select
{
	width:186px;
}
.a
{
 background:#FFF;
 height:35px;
 width:175px;
 color:#000;
 letter-spacing:2px;
	border:1px solid #999;
}
option
{
	background:#FFF;
	color:#000;
}
.checklist
{
	margin-top:10px;
	margin-left:150px;
	width:862px;
	height:510px;
	text-align:center
}
.c_info
{
	width:500px;
	height:100px;
}
.invoice
{
	width:500px;
	height:180px;
	margin-left:160px;
	margin-top:5px;
}
.invoice1
{
	width:500px;
	
	height:180px;
	margin-left:650px;
	margin-top:-180px;
}
.voucher
{
	width:900px;
	height:600px;
	margin-left:300px;
	margin-top:5px;
}
.word
{
	width:700px;
	height:80px;
	color:#000;
	margin-left:160px;
	margin-top:5px;
}
.c_in
{
	width:350px;
	height:25px;
	background-color:#333;
	opacity:0.5;
	border:none;
	font-size:18px;
	color:#fff;
}
.c_last
{
	height:100px;
	width:500px;
	margin-left:150px;
}
.addclients_c
{
	margin-top:-50px;
	margin-left:705px;
}
.total
{
	height:30px;
	width:140px;
}
.emp_header
{
	background-color:#33CCFF;
	height:25px;
	font-size:14px;
	text-align:center;
	color:#FFF;
}
.emp_header td
{
	 background:#33CCFF;
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
}

.search_res
{
	background-color:#FFF;
	height:25px;
	color:#FFF;
}
.search_res td
{
	 background:#33CCFF;
   
}
.h_tab1
{
	margin-top:5px;
	height:250px;
	width:500px;
	margin-left:150px;
	color:#000;
	letter-spacing:1px;
	font-size:18px;
}
.service
{
	margin-left:150px;
	font-size:18px;
}
.service1
{
	margin-left:450px;
	font-size:18px;
}
.h_tab2
{
	height:250px;
	width:400px;
	margin-left:780px;
	margin-top:-250px;
	color:#000;
	letter-spacing:1px;
	font-size:18px;
}
.tab_1
{
	margin-top:20px;
	height:450px;
	margin-left:250px;
	color:#000;
	letter-spacing:1px;
	font-size:18px;
}
.tab_2
{
	height:450px;
	margin-left:650px;
	margin-top:-450px;
	color:#000;
	letter-spacing:1px;
	font-size:18px;
}
.tab-1
{
	margin-left:250px;
	width:100px;
	height:100px;
}
.tab-1 td
{
	width:15%;
	padding-left:30px;
}
.tab-1 input
{
	margin-left:0px;
}
.tab-2
{
	margin-left:250px;
	width:100px;
	height:150px;
}
.tab-2 input
{
}

.tab-2 td
{
	width:25%;
	padding-left:10px;
}
/*----------------------*/
.testing1{
	width: 960px;
	margin-left: 25px;
	margin-top: -10px;
	margin-bottom:-10px;
	background-color:#d1e5fe;
}
.des1
{
	width:950px;
	display:block;
	background-color:#00a1d2;
	font-size:16px;
	color:#600;
	text-align:center;
	margin-left:10px;
	margin-top:15px;
	
	 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
	
	}
	
	.test2{
		padding:10 10 10 10;
		margin-left: 20px;
		margin-top: 50px;
		width:550px;
		background-color:#d1e5fe;		
		
	}
	
	.test3{
		padding:10 20 10 50;
		margin-left: 620px;
		margin-top: -440px;
		width:550px;
		background-color:#d1e5fe;	
	}
	
	.guaranty{
	}
	.guaranty h3{
		font-family:"Times New Roman", Times, serif;
		font-size:10px;
		
	}